
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    background-color: #111;
    color: #fff;
     
}

header {
    background-color: #111;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}


nav {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    font-weight: bold;
}

.logo img {
    width: 150px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #e50914;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.banner {
    background-image:linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 80%, rgba(0, 0, 0, 0.8) 100%), url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.banner-content {
    max-width: 600px;
}

.banner h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.banner p {
    font-size: 1.2rem;
    opacity: 0.8;
}

.genres {
    margin-top: 40px;
}

.genres h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.genre-list {
    display: flex;
}

.genre {
    background-color: #333;
    color: #fff;
    padding: 10px 15px;
    margin-right: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #111;
}
